* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 300px;
  height: 100vh;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  transition: background-image 2s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.playerandplaylist {
  width: 450px;
  transition: 0.4s all ease;

}

@media (max-width: 900px) {
  .player-contolscont {
    flex-direction: column;
  }
}


.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-right: 20px;
}



.play-list {
  text-align: left;
}



.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: 1s;
}


.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}



.quote-rotate {
  border: 0;
  outline: 0;
  transform: rotateZ(360deg);
}

.player-icon:active,
.slider-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.2);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  transition: 0.4s all ease;
  z-index: 100;
}

.play-list {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;

}

@media (max-width: 768px) {
  .play-list {
   font-size: 12px;
  }
}

@media (max-width: 400px) {
  .play-list {
   display: none;
  }
}

.play-list>li {
  list-style-type: none;
  cursor: pointer;
}

.play-list>li>img {
  width: 15px;
}


#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  z-index: 4;
  height: 5px;
  background: #707070;
  max-width: 100px;
  bottom: 5%;
  border-radius: 30px;
  left: 17%;
}

.audio-vol-progress {
  height: 5px;
  background: #707070;
  max-width: 55px;
  bottom: 5%;
  border-radius: 30px;
  left: 17%;
}

@media (max-width: 768px) {
  .audio-vol-progress {
    transform: rotate(90deg);
  }
}

@media (max-width: 400px) {
  .audio-vol-progress {
    transform: rotate(0deg);
  }
}

.audio-vol-toggle {
  width: 1.4vmax;
}

.fa-volume-down:before,
.fa-volume-low:before {
  content: "\f027";
}

.audio-prev-btn,
.audio-next-btn,
.audio-vol-toggle {
  font-size: 1.2vmax;
  cursor: pointer;
}

input[type="range" i] {
  appearance: auto;
  cursor: pointer;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
}

.player-contolscont {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress {
  display: flex;
  align-items: center;
  padding: 5px;
}

.currentTime {
  margin-right: 10px;
}

.durationTime {
  margin-left: 10px;
}

.song-name {
  font-size: 10px;
  width: 200px;

}

@media (max-width: 400px) {
  .songname-and-bar,
  {
    display: flex;
    flex-direction: column;
  }
  .progress {
    display: flex;
    flex-direction: column;
  }
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  max-width: 280px;
  width: 100%;
  min-height: 180px;
  text-align: left;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  transition: 0.4s all ease;
}



@media (max-width: 768px) {
  .weather {
    font-size: 10px;
  }
  .temperature {
    font-size: 20px;
  }
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}
@media (max-width: 768px) {
.weather-icon {
  font-size: 22px;
}
}

.city {
  width: 100%;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

@media  (max-width:768px) {
  .city::placeholder {
    font-size: 10px;
  }
}
  

.weather > input{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

@media  (max-width:768px) {
  .weather > input{
    font-size: 10px;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
  transition: 1s all ease;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 110px;
  letter-spacing: 5px;
  transition: 0.4s all ease;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 0.4s all ease;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .date {
    font-size: 20px;
  }
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: 0.4s all ease;
}

@media (max-width: 768px) {
  .greeting-container {
    flex-direction: column;
    font-size: 10px;
  }
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

@media (max-width: 768px) {
  .greeting {
    font-size: 20px;
  }
}



.name {
  font-family: 'Roboto Slab', serif;
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.greeting-container > input {
  width: 100%;
}


.name::placeholder {
  color: #fff;
  opacity: .6;
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.settings {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-shrink: 1;
  max-width: 300px;
}



.quotecontainer {
  max-width: 500px;
  transition: 0.4s all;
  flex-shrink: 1;
}

@media  (max-width: 900px) {
  .quotecontainer  {
  /* position: absolute; */
  bottom: 20px;
  left: 30%;
  width: 300px;
  }
  }

@media (max-width: 716px) {
  .quotecontainer {
    font-size: 15px;
  }

}


@media  (max-width: 455px) {
  .quotecontainer  {
  left: 20%;
  }
  }

  @media (max-width: 390px) {
    .quotecontainer {
      font-size: 12px;
      width: 250px;
    }
  
  }


.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  transition: all 1s;
  height: 100px;
  padding-bottom: 10px;
}

.author {
  transition: all 1s;
  min-height: 20px;
}

.quote-and-author {
  
}


@media (max-width: 768px) {
  .time {
    padding-top: 50px;
    min-height: 80px;
    font-size: 50px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.temperature {
  font-size: 50px;
}

@media (max-width: 900px) {
  .temperature {
    font-size: 20px;
  }
}


.weather-description::first-letter {
  text-transform: uppercase;
}

.background-source {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: 1s all ease;
  padding-bottom: 30px;
  font-size: 90%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 25px;
  visibility: hidden;
  z-index: 50;
}

@media (max-width: 768px) {
  .background-source {
    justify-content: center;
    padding-left: 30%;
    font-size: 20px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    text-align: left;
  }

}

.active {
  opacity: 1;
  visibility: visible;

}

.nonactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all;

}



.inputitem {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.authorme {
  width: fit-content;
  height: fit-content;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 1s all ease;
}

@media (max-width: 900px) {
  .authorme {
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 15px;
  }
}

.item-school img {
  width: 60px;
  font-size: 20px;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .item-school {
   font-size: 10px;
}


  .item-school img {
    width: 40px;
    margin-bottom: 5px;
}
}

.settings-icon {
  display: flex;
  justify-content: start;
  z-index: 51;
}


.settings-icon>img {
  opacity: 0.7;
  width: 50px;
  height: 50px;
  transition: 1s all ease;
  z-index: 51;
}

@media (max-width: 768px) {
  .settings-icon>img {
    width: 30px;
    height: 30px;
  }
}

.settings-icon>img:hover {
  transform: rotate(20deg);
  opacity: 0.9;
  transition: 1s all ease;
}

@media (max-width: 768px) {
  .block-settings {
    /* text-align: center; */
  }
}

;

.logo-school {
  width: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: auto;
  flex-grow: 1;
}



.addlink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: black;
  cursor: pointer;
}

.containerlink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

.author-and-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  min-width: 200px;
}



.link-item {
  margin-bottom: 10px;
}

.containerlink > input {
  font-family: 'Roboto Slab', serif;
}

.links-list {
  flex-grow: 1;

}

.links-list>li>a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.links-list>li>a>img {
  width: 10px;
  height: 10px;
}

.links-list>li {
  list-style-type: none;
  text-align: right;
}

.link-add {
  display: flex;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s all;
  z-index: 5;
  position: absolute;
  bottom: 100px;
  left: 0px
}

@media (max-width: 900px) {
  .link-add  {
    position: absolute;
    bottom: 100px;
    left: 0px
  }
}

.link-addedlist {
}

.add-link-cont {
  display: flex;
  justify-content: center;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: black;
  margin-bottom: 20px;
}



.link-icon > img{
  width: 30px;
  height: 30px;
  transition: all 1s ease;
}


.link-icon > img:hover{
  width: 20px;
  height: 20px;
  transition: all 0.4s ease;
}

@media (max-width:768px) {
  .link-icon {
    width: 30px;
    height: 30px;
  }

  .link-icon > img{
    width: 15px;
    height: 15px;
  }
  .link-icon > img:hover{
    width: 10px;
    height: 10px;
  }
}

.link-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 1s ease;
}

.linkss {
  display: flex;
  position: absolute;
    bottom: 60px;
    left: 20px
}

@media (max-width: 900px) {
  .linkss {
    position: absolute;
    bottom: 60px;
    left: 20px
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .name::placeholder {
    font-size: 20px;
  }
}